<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user.id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @review.post.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>
<p>
<%=image_tag(@review.avatar) %>
</p>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
