
<br><br><br><br>

<div class="signUp-container offset-sm-2 col-md-8">
  <img src="/oneroom.png" alt="img" id="signupImg"/>
  <div class="sup-form-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <!-- 유형 추가 -->
      <div class="custom-control custom-radio">
        <%= f.radio_button :user_type, "1", :checked => true %> 
        <%= f.label :user_type, '공급자', :class => "rlabel" %>
        <%= f.radio_button :user_type, "2" %>
        <%= f.label :user_type, '수요자' ,:class => "rlabel" %>
      </div>
    
      <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.email_field :email, :class => "form-control col-md-8", autofocus: true, autocomplete: "email"%><br/>
      </div>
      
      <!-- 이름 추가 -->
      <div class="form-group">
        <%= f.label :name %><br/>
        <%= f.text_field :name, :class => "form-control col-md-8", autocomplete: "off" %><br/>
      </div>
    
      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <br/><%= f.password_field :password, :class => "form-control col-md-8", autocomplete: "off" %><br/>
      </div>
    
      <div class="form-group">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, :class => "form-control col-md-8", autocomplete: "off" %><br/>
      </div>
      
      <!-- 프로필 사진 추가(carrierwave, mini_magick) -->
      <div class="field">
        <%= f.label :avatar do %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        <% end %>
      </div>
      
      <!-- 한 줄 소개 추가 -->
      <div class="form-group">
        <%= f.label :introduce %><br/>
        <%= f.text_field :introduce, :class => "form-control col-md-8", autocomplete: "off" %><br/><br/>
      </div>
    
      <div class="form-group">
        <%= f.submit "회원가입", :class => "btn btn-lg btn-block col-md-8", :id => "login-button"%>
      </div>
    <% end %>
  </div>
</div>

    <script>
      $(document).ready(function(){
        $("#mainNav").css("display","none");
        $(".rlabel").css("margin-right","10%").css("margin-top","2%");
        $("body").css("display","flex").css("flex-direction","row");
        $(".sup-form-container").css("display","flex").css("flex-direction","column").css("margin-top","8%");
      });
    </script>